
.mention {
    z-index: 2000;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
    position: relative;
  }


.mention-user {
    z-index: 2000;
    background-color: white;
    font-weight: 700;
    color: rgb(171, 88, 4);
    border-radius: 4px;
    border: none;
    position: relative;
  }